/* CLASE ACTIVE*/

.icon-aside {
  color: aliceblue;
  width: 25px;
}

.aside {
  display: block;
  width: 20%;
  height: auto;
  background: var(--light-mode-primary);
  border-radius: 10px;
  margin: 10px 0 10px 0;
  box-shadow: var(--box-shadow);
}

.light-mode .aside {
  background: var(--light-mode-primary);
}

.dark-mode .aside {
  background: var(--dark-mode-primary);
}

.item-link {
  list-style: none;
  margin: 5px 0 0 0;
  color: var(--dark-mode-primary);
  font-weight: 200;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.item-link a {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.icon-item:hover {
  color: aliceblue;
}

.item-link:hover {
  background-color: var(--color-primary);
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.item-link:hover .icon-item {
  color: aliceblue;
}

.icon-item {
  color: var(--dark-mode-primary);
  margin-left: 20px;
}

.dark-mode .item-link {
  color: var(--light-mode-primary);
}

.dark-mode .icon-item {
  color: var(--light-mode-primary);
}

.logout {
  color: rgb(251, 45, 45);
}

.item-link:hover .logout {
  color: aliceblue;
}

.dark-mode .logout {
  color: rgb(251, 45, 45);
}
