.main {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.main-item {
  display: flex;
  width: auto;
  height: 20px;
  padding: 60px;
  gap: 10px;
  background-color: var(--light-mode-primary);
  border-radius: 10px;
  margin: 0 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.dark-mode .main-item {
  background: var(--dark-mode-primary);
}

.main-group {
  padding: 10px 0;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--dark-mode-primary);
}

.dark-mode .title {
  color: aliceblue;
}

.text-h4 {
  font-size: 16px;
  margin: 20px 0;
  font-weight: 300;
  font-style: italic;
}

.dark-mode .span-h4 {
  color: rgb(90, 255, 200);
}

.light-mode .span-h4 {
  color: rgb(48, 48, 252);
}

.download {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-right: 40px;
}

.download-icon {
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 2px 25px;
  box-shadow: var(--box-shadow);
  transition: all.3s ease;
}

.download-icon:hover {
  cursor: pointer;
}

.span-download {
  margin-left: 10px;
}

/*  MAIN ITEM  */

.icon-item-main {
  width: 100px;
  height: 80px;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
  padding: 5px;
  border-radius: 5px;
}

.orders {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.box-1 {
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
  border-radius: 10px;
  padding: 20px;
}

.box-2 {
  background-color: var(--color-bg-warning);
  color: var(--color-warning);
  border-radius: 10px;
  padding: 20px;
}

.box-3 {
  background-color: var(--color-bg-success);
  color: var(--color-success);
  border-radius: 10px;
  padding: 20px;
}

.box-4 {
  background-color: var(--color-bg-danger);
  color: var(--color-danger);
  border-radius: 10px;
  padding: 20px;
}

.box-5 {
  background-color: var(--color-bg-full);
  color: var(--color-full);
  border-radius: 10px;
  padding: 20px;
}

.box {
  list-style: none;
}

.bx {
  font-size: 35px;
}

.info {
  color: var(--dark-mode-primary);
  margin-left: 20px;
}

.info-p {
  font-size: 14px;
  font-weight: 300;
}

.caja {
  width: auto;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-mode-primary);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  justify-content: start;
}

.dark-mode .caja {
  background-color: var(--dark-mode-primary);
}

.dark-mode .info {
  color: aliceblue;
}

/*RECENT ORDERS*/

.main-order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  gap: 10px;
}

.dark-mode .recent-order {
  background-color: var(--dark-mode-primary);
  color: aliceblue;
}

.recent-order {
  background-color: var(--light-mode-primary);
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--dark-mode-primary);
  transition: all.5s ease;
  box-shadow: var(--box-shadow);
}

.item-order-1 {
  font-size: 20px;
  font-weight: 200;
  display: flex;
}

.order-h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 200;
  margin-left: 10px;
}

.main-order .recent-order i {
  font-size: 20px;
  padding: 10px;
}

.item-order-2 {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.remiders {
  height: 400px;
  background-color: var(--light-mode-primary);
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--dark-mode-primary);
  transition: all.5s ease;
  box-shadow: var(--box-shadow);
}

.dark-mode .remiders {
  background-color: var(--dark-mode-primary);
  color: aliceblue;
}

.item-remiders {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.recent-remiders {
  display: flex;
}

.recent-remiders i {
  font-size: 20px;
  font-weight: 200;
  display: flex;
  padding: 10px;
}

.remiders-h3 {
  margin-top: -5px;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
}

.item-remiders i {
  font-size: 20px;
  padding: 10px;
}

.titulos {
  display: flex;
  justify-content: space-between;
  color: var(--dark-mode-primary);
}

/*RECENT ORDER DATES*/

.content-recent {
  font-family: "sans-serif";
  font-weight: 100;
  width: 60%;
  background-color: var(--light-mode-primary);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

.header-recent {
  font-size: 16px;
  font-weight: 400;
}

.content-recent i {
  font-size: 22px;
}

.pic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.item-1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.info-order {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.datos {
  margin: 0 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}

.dato-1 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.span-1 {
  font-size: 14px;
  background-color: rgb(7, 183, 7);
  border-radius: 20px;
  padding: 5px 15px;
  color: black;
}

.span-2 {
  font-size: 14px;
  background-color: rgb(253, 180, 63);
  border-radius: 20px;
  padding: 5px 15px;
  color: black;
}

.span-3 {
  font-size: 14px;
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 5px 15px;
  color: black;
}

.fecha{
  display: flex;
  justify-content: end;
}

.dark-mode .content-recent {
  background-color: var(--dark-mode-primary);
  color: aliceblue;
}

hr.thin {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.data {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* REMIDERS */

.content-recent-2 {
  font-family: "sans-serif";
  font-weight: 100;
  width: 40%;
  height: auto;
  background-color: var(--light-mode-primary);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px 10px;
}

.content-recent-2 i {
  font-size: 22px;
}

.datos-2 {
  margin: 20px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  border-left: solid 10px rgb(46, 184, 0);
  transition: all 0.5 ease;
}

.datos-3 {
  margin: 20px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  border-left: solid 10px rgb(255, 50, 50);
  transition: all 0.5 ease;
}

.dark-mode .content-recent-2 {
  background-color: var(--dark-mode-primary);
  color: aliceblue;
}

.dark-mode .datos-2 {
  background: rgb(52, 52, 52);
  transition: all 0.5 ease;
}

.dark-mode .datos-3 {
  background: rgb(52, 52, 52);
  transition: all 0.5 ease;
}

/* TOGGLE DARK MODE WIDGET TRADINGVIEW */

.tradingview-widget-container {
  border-radius: 10px;
  overflow: hidden;
}

.dark-mode .tradingview-widget-container {
  background-color: var(--dark-mode);
}

