.price {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  background-color: var(--light-mode-primary);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: all 0.5s ease;
  height: 20vh;
  margin-bottom: 10px;
}

.item-price {
  transition: all 0.5s ease;
  padding: 20px;
  margin: auto;
}

.item-price:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 19px;
}

.item-img {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
}

.info-price {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.red {
  color: rgb(255, 0, 0);
  font-weight: 300;
}

.green {
  color: rgb(21, 157, 0);
  font-weight: 300;
}

.dark-mode .price {
  background-color: var(--dark-mode-primary);
  color: aliceblue;
}

.dark-mode #price {
  color: white;
}

.item-price {
  width: 140px;
  overflow: hidden;
}