
@import "aside.css";
@import "main.css";
@import "navegacion.css";
@import "price.css";
@import "footer.css";


/* COLORES ROOT */
:root {
  --light-mode-primary: rgb(255, 255, 255);
  --light-mode: rgb(231, 231, 231);
  --dark-mode-primary: #1e1e1e;
  --dark-mode: rgb(22, 22, 22);
  --color-primary: #1a83fb;
  --color-bg-primary: #a4cfff;
  --color-danger: #FF0060;
  --color-bg-danger: #ffc5cf;
  --color-success: #0ea98c;
  --color-bg-success: #adfbed;
  --color-warning: #f6cc4c;
  --color-bg-warning: #fff3cf;
  --color-full: #ff7519;
  --color-bg-full: #ffcab2;
  --box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(52, 52, 52);
}

/* ESTILOS DE LIGHT MODE*/

.dark-mode{
  transition: all .5s ease;
}

.light-mode{
  background-color: rgb(244, 244, 244);
  transition: all .5s ease;
}

.light-mode .light-nav{
  background-color: #184aff;
  transition: all .5s ease;
}

.content{
  display: flex;
  gap: 10px;

}




